<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack template</title>

    <link rel="stylesheet" href="static/apps/front/css/all.css">
    {% block styles %}{% endblock %}
</head>

<body>
{% include 'modules/m_header.j2' %}

<section>
    {% block content %}{% endblock %}
</section>

{% include 'modules/m_footer.j2' %}

<script type="text/javascript" src="static/apps/front/js/all.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>