{% extends 'apps/front/base.j2' %}

{% block content %}
    <h1 class="m_h1">Hello from index!</h1>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        _inline_init(function ($) {
            $(function () {
                console.log('hello from inline');
                console.log('hello from jquery', $);
            })
        })
    </script>
{% endblock %}