<header data-rx="m_header" class="m_header">Header</header>

{% rxs m_header %}
    <!-- m_header.j2 -->
    <script type="text/javascript">
        _inline_init(function ($) {
            $(function () {
                $('*[data-rx="m_header"]').hide('slow');
            })
        })
    </script>
{% endrxs %}